<mat-card *ngIf="mail">
  <mat-card-header>
    <mat-card-title>{{ mail.subject }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ mail.body }}
    </p>
  </mat-card-content>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title> Answer </mat-panel-title>
    </mat-expansion-panel-header>
    <app-new-mail
      [isDisabled]="true"
      [toUser]="userEmail"
      [mailSubject]="emailSubject"
    ></app-new-mail>
  </mat-expansion-panel>
</mat-card>
