<div>
  <form [formGroup]="form" NgForm (ngSubmit)="onFormSubmit()">
    <div class="ml-4 example-container">
      <mat-form-field class="example-full-width">
        <mat-label>To</mat-label>
        <input
          name="email"
          formControlName="email"
          matInput
          placeholder="Email"
          [readonly]="isDisabled"
          value="{{ toUser }}"
        />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Subject</mat-label>
        <input
          name="subject"
          formControlName="subject"
          matInput
          placeholder="Subject"
          value="{{ mailSubject }}"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea name="msg" matInput formControlName="msg"></textarea>
      </mat-form-field>
      <button type="submit" color="primary">Sent</button>
    </div>
  </form>
</div>
