<div class="alert-message">
  <table>
    <tr>
      <td style="width: 75%; vertical-align: middle" *ngIf="data">
        <div [innerHtml]="data"></div>
        <div [innerHtml]="data.message"></div>
      </td>
      <td style="width: 25%; text-align: right; vertical-align: middle">
        <button mat-button (click)="onActionButtonClicked()">
          {{ actionButtonText }}
        </button>
      </td>
    </tr>
  </table>
</div>
