<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav mat-elevation-z1" #drawer fixedInViewport="true" mode="side" opened>
      <div>You {{ userEmail }}</div>
      <a mat-raised-button color="primary" class="mt-2 ml-3" routerLink="{{ 'new/' + userId }}"
        >Compose</a
      >
      <mat-nav-list>
        <a mat-list-item routerLink="{{ 'inbox/' + userId }}" routerLinkActive="active">
          <mat-icon>inbox</mat-icon>
          <span>Inbox - {{ countMails }}</span>
        </a>
        <br />
        <a mat-list-item routerLink="{{ 'send/' + userId }}" routerLinkActive="active">
          <mat-icon>send</mat-icon>
          <span>Sent</span>
        </a>
        <br />
        <a mat-list-item routerLink="spam" routerLinkActive="active">
          <mat-icon>inbox</mat-icon>
          <button mat-button>Spam</button>
        </a>
        <br />
        <a mat-list-item routerLink="drafts" routerLinkActive="active">
          <mat-icon>description</mat-icon>
          <button mat-button>Drafts</button>
        </a>
        <br />
        <a mat-list-item routerLink="trash" routerLinkActive="active">
          <mat-icon>report</mat-icon>
          <button mat-button>Trash</button>
        </a>
        <br />
        <br />
        <div>
          <button class="logout ml-3" (click)="logout()">Logout</button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
