<mat-nav-list>
  <mat-nav-list>
    <mat-list-item *ngFor="let item of inbox" (click)="handleClick(item)">
      <a
        [ngClass]="{ active: !item.is_read }"
        routerLink="{{ '/mailbox/inbox/mail/' + item.mail_id }}"
        routerLinkActive="active"
        matLine
      >
        {{ item.subject }} - {{ item.email }}
      </a>
    </mat-list-item>
  </mat-nav-list>
</mat-nav-list>
