<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="text-uppercase">Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="container">
      <mat-card-content class="row">
        <mat-form-field class="col-5">
          <input name="email" formControlName="email" placeholder="Ex. pat@example.com" />
          <mat-error *ngIf="form.invalid">Not a valid email</mat-error>
        </mat-form-field>
        <br /><br />
        <mat-form-field class="col-12">
          <input
            name="password"
            formControlName="password"
            type="password"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>
      <br /><br />
      <button mat-raised-button color="primary" [disabled]="form.invalid">Log in</button>
    </form>
    <br />
    <a [routerLink]="['/register']">Register</a>
  </mat-card>
</div>
