<!-- Default form register -->
<form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="text-center border border-light p-5">
  <p class="h4 mb-4">Sign up</p>
  <div class="form-row mb-4">
    <div class="col">
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        placeholder="First name"
      />
    </div>
    <div class="col">
      <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" />
    </div>
  </div>
  <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail" />
  <input
    type="password"
    formControlName="password"
    class="form-control mb-4"
    placeholder="Password"
  />
  <input
    type="password"
    formControlName="confirmPassword"
    class="form-control mb-4"
    placeholder="Password"
  />
  <button mdbBtn color="info" block="true" class="my-4" [disabled]="form.invalid" type="submit">
    Sign in
  </button>
  <hr />
</form>
