<table mat-table multiTemplateDataRows class="mat-elevation-z8">
  <ng-container>
    <td>1</td>
  </ng-container>

  <ng-container>
    <td>
      <div class="example-element-detail">
        <div class="example-element-diagram">
          <div class="example-element-position"></div>
          <div class="example-element-symbol"></div>
          <div class="example-element-name"></div>
          <div class="example-element-weight"></div>
        </div>
        <div class="example-element-description">
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef=""></tr>
  <tr mat-row class="example-element-row"></tr>
  <tr mat-row class="example-detail-row"></tr>
</table>
